* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #01070c, #02121c);
    background-size: 400% 400%;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'Neon Spark';
    src: url('fonts/Neon Spark.otf');
}

.elegant-border-aqua {
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, 0.2); /* едва заметная граница */
    box-shadow:
            0 0 6px rgba(0, 255, 255, 0.15),
            0 0 12px rgba(0, 255, 255, 0.08);
}

.elegant-border-purple {
    border-radius: 20px;
    border: 1px solid rgba(170, 0, 255, 0.2); /* едва заметная граница */
    box-shadow:
            0 0 6px rgba(170, 0, 255, 0.15),
            0 0 12px rgba(170, 0, 255, 0.08);
}

.elegant-border-blue {
    border-radius: 20px;
    border: 1px solid rgba(0, 51, 255, 0.2); /* едва заметная граница */
    box-shadow:
            0 0 6px rgba(0, 51, 255, 0.15),
            0 0 12px rgba(0, 51, 255, 0.08);
}

.elegant-border-pink {
    border-radius: 20px;
    border: 1px solid rgba(183, 113, 205, 0.2); /* едва заметная граница */
    box-shadow:
            0 0 6px rgba(144, 110, 156, 0.15),
            0 0 12px rgba(144, 110, 156, 0.08);
}


.menu-button {
    z-index: 1001;
    background: transparent;
    border-radius: 50px;
    border: 1px solid rgba(0, 255, 255, 0.2); /* едва заметная граница */
    padding: 10px 15px;
    font-size: 18px;
    color: #0ff;
    font-family: 'Neon Spark', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-button.active {
    background-color: rgba(0, 255, 255, 0.1);
    color: #fff;
    box-shadow:
            0 0 6px rgba(0, 255, 255, 0.3),
            0 0 12px rgba(0, 255, 255, 0.2);
    transform: rotate(90deg); /* опционально — для динамики */
    transition: all 0.3s ease;
}

.menu-button.inactive {
    transform: rotate(-90deg);
}


.side-menu {
    position: fixed;
    top: 0;
    right: -21%;
    width: 20%;
    height: 100%;
    background-color: #011627;
    transition: right 0.5s ease;
    z-index: 1000;
    padding: 2.5% 1.25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0;
    justify-content: space-between;
}

.menu-list {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    gap: 5%;
}

.menu-item {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu.open {
    right: 0;
}

.assistant-menu {
    height:60%;
    width: 100%;
    align-self: flex-end;
}



.side-menu a {
    display: block;
    font-family: 'Neon Spark', sans-serif;
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.logo {

}

.courses{
    width: 100%;
}

.course-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.general-info {
    width: 100%;
    aspect-ratio: 16 / 16;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5%;
    padding: 1%;

}

.general-info-card{
    width: 48.25%;
    aspect-ratio: 15 / 25;
    display: flex;
    flex-direction: column;
    padding: 5% 3% 3%;
    align-items: center;
}
.general-info-text {
    width: 48.25%;
    aspect-ratio: 15 / 25;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.general-info-card img {
    max-width: 80%;
    max-height: 30%;
    margin-bottom: 5%;
}

.general-info h1{
    font-size: 180%;
    text-align: center;

}

.general-info-card p{
    text-align: start;
    color: gray;
    font-size: 100%;

}

.general-info-card-bottom{
    width: 100%;
    margin-top: auto;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
}

.general-info-card-bottom button{
    width: 100%;
    margin-top: 5%;
    align-self: center;
}

.cyan-text {
    color: #0ff;
}

.side-menu a:hover {
    text-decoration: underline;
}

.course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5%;
    margin-bottom: 2%;
    color: white;
    padding: 2%;
}

.teacher-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 6 / 1;
    gap: 2.5%;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2%;
}

.teacher-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: hidden;
    padding: 5%;
    margin-bottom: 2%;
}

.teacher-card img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;
    flex-shrink: 0;
}

.teacher-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
    padding: 5%;
}

.teacher-info h1{
    color: #80efff;
    font-size: 90%;
}
.teacher-info p{
    font-size: 80%;
    color: #627c79;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    gap: 5%;
    aspect-ratio: 15 / 1;
    padding: 0 5%;
    color: #bd96e1;
    margin-bottom: 2%;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 5%;
}

