<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Презентация</title>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx-ext-client-side-templates@2.0.0/client-side-templates.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="/logout.js"></script>
</head>
<header>
  <div id="log_info">
  <a href="./../auth.html">Войти или зарегистрироваться</a>
</div>
  <template id="login-template">
    <div style="display: flex; flex-flow: row">
      <h1>{{username}}</h1>
      <button class="logout-btn" onclick="logout()">Выйти</button>
    </div>
  </template>


  <div hx-get="https://prized-hero-09a7ef40d2.strapiapp.com/api/users/me"
       hx-target="#log_info"
       hx-trigger="load"
       hx-headers='js:{"Authorization": "Bearer " + localStorage.getItem("jwt")}'
       hx-ext="client-side-templates"
       mustache-template="login-template">
  </div>
</header>
<body>

<div id="content">
  <h1>Загрузка</h1>
</div>
<template id="presentation-template">
  <h1>{{name}}</h1>
  <p>{{description}}</p>
  <iframe src="https://docs.google.com/presentation/d/e/{{link}}/pubembed?start=false&loop=false&delayms=10000" frameborder="0" width="320" height="195" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  <p>Выступающие: </p>
  {{#speakers}}
  <a href="./speaker.html?id={{id}}">
    <h3>{{name}}</h3>
  </a>
  {{/speakers}}
  {{^speakers}}<p>Спикеры этой лекции не предусмотрены</p>{{/speakers}}
  <div class="comment-form">
    <h2>Оставить комментарий</h2>
    <form id="comment-form"
          hx-post="https://prized-hero-09a7ef40d2.strapiapp.com/api/comments"
          hx-headers='js:{"Authorization": "Bearer " + localStorage.getItem("jwt")}'
          hx-target="#status"
    >

      <input type="hidden" name="presentation_id" id="presentation-id" value="{{id}}">

      <div class="form-group">
        <label for="text_comment">Ваш комментарий:</label>
        <textarea id="text_comment" name="text_comment" required></textarea>
      </div>

      <div class="form-group">
        <label for="rate">Оценка (1-5):</label>
        <select id="rate" name="rate" class="rating-select" required>
          <option value="">Выберите оценку</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <button type="submit">Отправить отзыв</button>
    </form>
    <div id="status">
    </div>
  </div>
  <div hx-get="https://prized-hero-09a7ef40d2.strapiapp.com/api/comments?filters[presentation_id][$eq]={{id}}"
       hx-target="#comments"
       hx-trigger="load"
       hx-ext="client-side-templates"
       mustache-template="comments-template"
  >

  </div>
</template>

<div id="comments"></div>

<template id="comments-template">
  {{#data}}
  <h2>Имя комментатора: {{name}}</h2>
  <p>Текст: {{text_comment}}</p>
  <p>Оценка: {{rate}}/5</p>
  <p>Дата: {{date}}</p>
  {{/data}}
</template>

<div id="results" hx-get="https://prized-hero-09a7ef40d2.strapiapp.com/api/presentation"  hx-trigger="load" hx-swap="innerHTML"
     hx-vals='js:{id: new URLSearchParams(window.location.search).get("id")}'
     hx-target="#content"
     hx-ext="client-side-templates"
     mustache-template="presentation-template">
</div>

<script>
  document.body.addEventListener('htmx:afterRequest', function (evt) {
    if (evt.detail.elt.getAttribute('hx-post') && !evt.detail.successful) {
      document.getElementById('status').innerHTML = JSON.parse(evt.detail.xhr.responseText).error.message;
    } else if (evt.detail.requestConfig.path === "https://prized-hero-09a7ef40d2.strapiapp.com/api/presentation") {
      const jwt = localStorage.getItem('jwt');
      const commentForm = document.getElementById('comment-form');
      if (!jwt) {
        commentForm.style.display = 'none';
      }
    }
  });
</script>




</body>
</html>
