<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Презентация</title>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx-ext-client-side-templates@2.0.0/client-side-templates.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="/header/logout.js"></script>
  <script src="/header/header-init.js"></script>
  <script src="/header/menu.js"></script>

  <link rel="stylesheet" href="./pres-styles.css">
</head>

<body>
<!--<header>-->

<!--  <div id="log_info">-->
<!--    <a href="./../auth.html">Войти или зарегистрироваться</a>-->
<!--    <a href="./list.html">Вернуться</a>-->
<!--  </div>-->
<!--  <template id="login-template">-->
<!--    <div style="display: flex; flex-flow: row; align-items: center; justify-content: center; color:darkcyan; gap: 5%">-->
<!--      <p>{{username}}</p>-->
<!--      <a href="../favourite.html">-->
<!--        <button class="user-button elegant-border-aqua">-->
<!--          <img src="../media/svgs/star-svgrepo-com.svg" height="20" width="20" alt="star">-->
<!--        </button>-->
<!--      </a>-->
<!--      <button class="user-button elegant-border-aqua" onclick="logout()">-->
<!--        <img src="../media/svgs/exit-svgrepo-com.svg" height="20" width="20" alt="star">-->
<!--      </button>-->
<!--    </div>-->
<!--  </template>-->


<!--  <div hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/users/me"-->
<!--       hx-target="#log_info"-->
<!--       hx-trigger="load"-->
<!--       hx-headers='js:{"Authorization": "Bearer " + localStorage.getItem("jwt")}'-->
<!--       hx-ext="client-side-templates"-->
<!--       mustache-template="login-template">-->
<!--  </div>-->
<!--</header>-->
<div id="header-placeholder"></div>


<script>
  fetch('../header/header.html')
          .then(res => res.text())
          .then(data => {
            const container = document.getElementById('header-placeholder');
            container.innerHTML = data;

            htmx.process(container);     // активируем HTMX на вставленном контенте
            initHeader();                // функция, которую мы сейчас создадим
          });
</script>

<div id="content">
  <h1>Загрузка</h1>
</div>
<template id="presentation-template">
  {{#data}}
  <h1>{{name}}</h1>
  <div id="fav-container"></div>
  <p>{{description}}</p>
  <iframe src="https://docs.google.com/presentation/d/e/{{link}}/pubembed?start=false&loop=false&delayms=10000" frameborder="0" width="320" height="195" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  <p>Выступающие: </p>
  {{#speakers}}
  <a href="./speaker.html?id={{id}}">
    <h3>{{name}}</h3>
  </a>
  {{/speakers}}
  {{^speakers}}<p>Спикеры этой лекции не предусмотрены</p>{{/speakers}}
  <p>Тэги:
    {{#tags}}
    <a href="/tagSearch.html">#{{name}}</a>
    {{/tags}}
  </p>

  <div id="test">
  </div>

  <div id="test-block" hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/test"
       hx-target="#test"
       hx-trigger="load, loadTest from:body"
       hx-vals='js:{id: new URLSearchParams(window.location.search).get("id")}'
       hx-headers='js:{"Authorization": authHeader()}'
       hx-ext="client-side-templates"
       mustache-template="test-template"></div>

  <div id="data-block" hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/comments/presentation/{{id}}"
       hx-target="#comments"
       hx-trigger="load, updateComments from:body"
       hx-ext="client-side-templates"
       mustache-template="comments-template"></div>
  </div>

  <div id="fav-block" hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/favourite"
       hx-vals='js:{id: new URLSearchParams(window.location.search).get("id")}'
       hx-headers='js:{"Authorization": authHeader()}'
       hx-target="#fav-container"
       hx-trigger="load, updateFav from:body"
       hx-ext="client-side-templates"
       mustache-template="fav-template"></div>
  </div>
  {{/data}}

  {{#registered}}
  <div class="comment-form">
    <form id="comment-form"
          hx-post="https://steadfast-champion-93368c3d1a.strapiapp.com/api/comments"
          hx-headers='js:{"Authorization": "Bearer " + localStorage.getItem("jwt")}'
          hx-target="#status"
    >

      <input type="hidden" name="presentation_id" id="presentation-id" value="{{id}}">

      <div class="form-group">
        <label for="text_comment">Ваш комментарий:</label>
        <textarea id="text_comment" name="text_comment" required></textarea>
      </div>

      <button type="submit">Отправить комментарий</button>
    </form>
    <div id="status">
    </div>
  </div>
  {{/registered}}
  {{^registered}}
  <p>Чтобы оставлять комментарии, надо войти в аккаунт.</p>
  {{/registered}}
</template>





<div class="comments_form">
  <div id="comments">

  </div>
  <div id="global-reply-form"></div>
</div>


<template id="test-template">
  {{^wrap}}
  Чтобы проходить тест и отмечать свой прогресс авторизуйся.
  {{/wrap}}
  {{#wrap}}
    {{^data}}
      Тест пройден!
    {{/data}}
    {{#data}}
      <form hx-post="https://steadfast-champion-93368c3d1a.strapiapp.com/api/test"
            hx-target="#test"
            class="test-form"
            hx-vals='js:{id: new URLSearchParams(window.location.search).get("id")}'
            hx-headers='js:{"Authorization": authHeader()}'
            hx-ext="client-side-templates"
            mustache-template="result-template">
        <input type="hidden" name="testId" value="{{id}}">
        <h2>{{title}}</h2>
        {{#questions}}
        <div class="question" data-question-id="{{id_q}}">
          <h3>{{text_q}}</h3>
          <div class="answers">
            {{#answers}}
            <label class="answer-option">
              <input type="radio"
                     name="answers_{{id_q}}"
                     value="{{id}}"
                     required>
              <span>{{text}}</span>
            </label>
            {{/answers}}
          </div>
        </div>
        {{/questions}}
        <button type="submit" class="submit-btn">Отправить тест</button>
      </form>
    {{/data}}
  {{/wrap}}
</template>

<template id="result-template">
  {{^success}}
    <p style="color: red">Есть ошибки. Надо повторить материал.</p>
    <button onclick="eventTest()">Попробовать ещё раз</button>
  {{/success}}
  {{#success}}
    <p style="color: green">Ура, тест пройден. Урок отмечен, как выполненный!</p>
  {{/success}}

</template>

<template id="fav-template">
  {{^data}}
  <button class="fav-btn" hx-post="https://steadfast-champion-93368c3d1a.strapiapp.com/api/favourite"
          hx-swap="none"
          hx-vals='js:{id: new URLSearchParams(window.location.search).get("id")}'
          hx-headers='js:{"Authorization": authHeader()}'>Добавить в закладки</button>
  {{/data}}
  {{#data}}
  <button class="fav-btn" hx-post="https://steadfast-champion-93368c3d1a.strapiapp.com/api/favourite"
          hx-swap="none"
          hx-vals='js:{id: new URLSearchParams(window.location.search).get("id")}'
          hx-headers='js:{"Authorization": authHeader()}'>Убрать из закладок</button>

  {{/data}}
</template>

<template id="comments-template">
    {{#commentsWithDate}}
    <div class="comment" id="comment-{{id}}">
      <div class="comment-author">{{name}}</div>
      <div class="date">{{date}}</div>
      <div class="comment-text">{{text_comment}}</div>
      <button hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/reply-form?comment={{id}}&author={{name}}"
              hx-target="#global-reply-form">
        Ответить
      </button>
      <div class="reply-form-container"></div>
      {{#replies_count}}
      <div class="replies">
        <button  id="reply-btn-{{id}}" class="toggle-replies"
                hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/replies/{{id}}?page=1"
                hx-target="next .replies-container"
                hx-ext="client-side-templates"
                mustache-template="reply-template"
                data-comment-id="{{id}}"
                data-replies-count="{{replies_count}}">
          Показать ответы ({{replies_count}})
        </button>
        <div class="replies-container"></div>
      </div>
      {{/replies_count}}
      {{^replies_count}}{{/replies_count}}
    </div>
    {{/commentsWithDate}}
    {{#meta}}
    <div style="height: 1px" hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/comments/presentation/{{pr_id}}?page={{next_page}}"
         hx-trigger="revealed"
         hx-target="previous .comment"
         hx-swap="afterend"
         hx-ext="client-side-templates"
         mustache-template="comments-template">
    </div>
    <div class="container"></div>
    {{/meta}}
    {{^meta}}{{/meta}}
</template>


<template id="reply-template">
  {{#data}}
  <div class="reply">
    <div class="comment-author">{{name}}</div>
    <div class="date">{{date}}</div>
    <p><b>{{name_adr}}</b>, {{text}}</p>
    <button hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/reply-form?comment={{com_id}}&author={{name}}"
            hx-target="#global-reply-form">
      Ответить
    </button>
  </div>
  {{/data}}
  {{#meta}}
  <button hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/replies/{{com_id}}?page={{next_page}}"
          hx-swap="outerHTML"
       hx-ext="client-side-templates"
       mustache-template="reply-template">
    Загрузить ещё ответы
  </button>
  {{/meta}}
  {{^meta}}{{/meta}}
</template>

<template id="empty-template">
</template>




<div id="results" hx-get="https://steadfast-champion-93368c3d1a.strapiapp.com/api/presentation"  hx-trigger="load" hx-swap="innerHTML"
     hx-vals='js:{id: new URLSearchParams(window.location.search).get("id")}'
     hx-headers='js:{"Authorization": authHeader()}'
     hx-target="#content"
     hx-ext="client-side-templates"
     mustache-template="presentation-template">
</div>

<script>
  document.body.addEventListener('htmx:afterRequest', function (evt) {
    if (evt.detail.requestConfig.path.includes('page=1')) {
      console.log(evt.detail)
      const button = evt.detail.elt;
      const container = button.nextElementSibling;
      console.log(container.innerHTML.trim())
      if (container.innerHTML.trim() !== '') {
        button.textContent = 'Скрыть ответы';
        button.setAttribute('hx-get', `https://steadfast-champion-93368c3d1a.strapiapp.com/api/replies/${button.dataset.commentId}?hide=true&page=1`);
      } else {
        button.textContent = `Показать ответы (${button.dataset.repliesCount})`;
        button.setAttribute('hx-get', `https://steadfast-champion-93368c3d1a.strapiapp.com/api/replies/${button.dataset.commentId}?page=1`);
      }
      htmx.process(button);
    } else if (evt.detail.elt.getAttribute('hx-post')) {
      if (evt.detail.elt.classList.contains("fav-btn")) {
        htmx.trigger("#fav-block", "updateFav")
      } else {
        htmx.trigger("#data-block", "updateComments")
      }
    } else if (evt.detail.requestConfig.elt.getAttribute('hx-post')) {
      const id_com = evt.detail.requestConfig.parameters.comment;
      const btn = document.getElementById('reply-btn-' + id_com);
      if (btn) {
        btn.setAttribute(
                'hx-get',
                `https://steadfast-champion-93368c3d1a.strapiapp.com/api/replies/${btn.dataset.commentId}?page=1`
        );
        htmx.process(btn);
        htmx.trigger(btn, 'click');
      } else {
        htmx.trigger("#data-block", "updateComments")
      }
    } else if (evt.detail.requestConfig.path === "https://steadfast-champion-93368c3d1a.strapiapp.com/api/presentation") {
      const jwt = localStorage.getItem('jwt');
      const commentForm = document.getElementById('comment-form');
      if (!jwt) {
        commentForm.style.display = 'none';
      }
    }
  });

  function authHeader() {
    if (localStorage.getItem("jwt"))
    return "Bearer " + localStorage.getItem("jwt")
    else return ""
  }

  function eventTest() {
    htmx.trigger("#test-block", "loadTest")
  }

</script>


</body>
</html>
